* { font-family: "Quicksand", sans-serif; }

header, footer { display: none; }

/*UNDER CONSTRUCTION */
#under_construction { background-position: center right; background-repeat: no-repeat; background-size: cover; }
#under_construction section .logo { width: 20%; margin-bottom: 3vh; position: relative; }
#under_construction section div { width: 39%; }
#under_construction section div h2 { font-size: 4.1rem; text-align: right; color: #303030; }
#under_construction section aside { width: 39%; margin-bottom: 10vh; }
#under_construction section aside a { margin: 25px 12px; }
#under_construction section aside a img { height: 4vh; width: auto; display: block; margin: auto; }

@media all and (max-width: 800px) { #under_construction section { background-color: rgba(255, 255, 255, 0.85); padding: 5vh 0; }
  #under_construction section .logo { width: 100%; }
  #under_construction section .logo img { width: 60%; display: block; margin: auto; }
  #under_construction section div { width: 100%; }
  #under_construction section div h2 { width: 100%; text-align: center; font-size: 3rem; margin: 2vh 0 5vh; }
  #under_construction section aside { width: 100%; }
  #under_construction section aside a { margin: 2vw; } }
/*FIN UNDER CONSTRUCTION */
@media all and (min-width: 1600px) { html { font-size: 70% !important; } }
@media all and (min-width: 1900px) { html { font-size: 87% !important; } }
@media all and (min-width: 2500px) { html { font-size: 102% !important; } }
